notifications:
  email: false
  slack:
    rooms:
      secure: abympaaJrZWXUep69DxgyA26s8mvfXWHxMaXuM7yizDMVorwO709VWy6SKtEj5B0pRIeVGAL4igVBaX9t5VKnG0PpZ5akhkbEzcV0xWIIPbrr+UphGU7nbk7qEIyWFNtHYBDUkyfQdVPmv5pMTdgy7MOIK8P2leiCRFU2Ulnii/IBYu9KAojw3NE0xn57odLeznE1HVpW+DXKhxtL/qoj2T8CqKXb6ugf3jlabKVxRww6JG/cEWXMetGVzAU3ms4BcXsITKEE0h0ARslheoljb6GlhsjscyeCopIO9h8xqfEHYFEc2F5FD8Ulz7QwzK6vvCrYhoM6Cs78NkGKwo5KVefFPmDDISvYyG6wXeaNBoLBITjJfHeGgB30qSRf44rLyNNYwXia3vh35wNJkFQr1/Xb/EGgF/M8TCxb05IE1lpZyvSL5bB4cspPcjgyQJtXgkKJkWFpWF3X2r6z8sQTKC2ZX2KEID6pkonkIGrUJqk0MWxX3RxXaBaseh+KHj/9zY+9AldrlK63k3dORYAq2vyHEZgyEKPN+ENKS3F7W7EZH7u+NH5EbZkildMj2J1QS3BkYutYd2W8Og3YRTc+wshabUwyShqr9pgJULcGklgM5tngWKL/QrqF6iYGX3oPLuaBqjcQgSTisVQ//F65iKCsxlPrddMS68KreQ4km8=
    on_success: always
    on_failure: always

stages:
- name: APP
  if: commit_message !~ /(skip[ _-]app)/
- name: ANDROID
  if: commit_message !~ /(skip[ _-]android)/
- name: IOS
  if: commit_message !~ /(skip[ _-]ios)/

jobs:
  include:

  - stage: APP
    os: linux
    language: node_js
    node_js:
    - '12'
    services:
    - docker
    before_script:
    - export -f travis_fold
    script:
    - bash .travis.app.sh

  - stage: ANDROID
    os: linux
    language: android
    jdk: oraclejdk8
    android:
      components:
      - tools
      - tools
      - platform-tools
      - build-tools-28.0.3
      - android-28
    licenses:
    - ".+"
    before_install:
    - nvm install 8
    - yes | sdkmanager "platforms;android-28"
    - npm install -g yarn
    - pip install --user awscli
    - gem install fastlane -v '~> 2.137.0'
    - npm install -g @quasar/cli
    install:
    - yarn
    before_script:
    - export -f travis_fold
    script:
    - bash .travis.android.sh
    
  - stage: IOS
    os: osx
    language: objective-c
    osx_image: xcode10.1
    before_install:
    - nvm install 8
    - npm install -g yarn
    - brew install awscli
    - npm install -g ios-deploy --unsafe-perm=true
    - npm install -g @quasar/cli
    install:
    - yarn
    before_script:
    - export -f travis_fold
    script:
    - bash .travis.ios.sh
